body {
	margin: 0;
	text-align: center;
	font-family: Raleway, sans-serif;
}

#landing {
	height: 600px;
	background: pink;
	/*border: 2px blue solid;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-size: 3rem;
	color: white;
}

nav {
/*	border: solid white 3px;*/
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline-block;
}

a, #currentPage {
	display: inline-block;
	text-decoration: none;
	padding: 20px 10px;
	margin: 20px 20px;
	color: white;
	transition: all ease 0.1s;
}

#currentPage {
	border-bottom: 3px white solid;
}

a:hover {
	border-bottom: 3px white solid;
}

/*Main Body of Text*/

#main-text {
	background: white;
	margin: 6rem 0;
}

h2 {
	padding-bottom: 10px;
	display: inline-block;
	margin-top: 4rem;
	border-bottom: solid pink 3px;
}

p {
	margin: 4rem auto 0 auto;
	max-width: 60%;
}

@media only screen and (max-width: 660px) {

	li {
		display: block;
	}

	a, #currentPage {
		padding: 25px 30px;
		margin: 10px 0;
	}

	#currentPage {
/*		border-left: solid white 3px;*/
	}

	a {
		border: solid white 3px;
	}
}





